<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".App"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ItgTools">
        <activity android:name=".pages.itgui.RecyclerDemoActivity" android:exported="false" />
        <activity android:name=".pages.itgui.ksp.KspRecyclerDemoActivity" android:exported="false" />
        <activity android:name=".pages.itgui.ksp.KspTabHostActivity" android:exported="false" />
        <activity android:name=".pages.itgui.ManualTabsActivity" android:exported="false" />
        <activity android:name=".pages.itgui.DynamicTabsActivity" android:exported="false" />
        <activity android:name=".pages.itgui.NestedTabsActivity" android:exported="false" />
        <activity android:name=".pages.itgui.CustomTabsActivity" android:exported="false" />
        <activity android:name=".pages.itgui.BottomNavigationTabsActivity" android:exported="false" />
        <activity android:name=".pages.itgui.StyledTabsActivity" android:exported="false" />
        <activity android:name=".pages.itgui.AdvancedTabStylesActivity" android:exported="false" />
        <activity android:name=".pages.itgui.BasicTabsActivity" android:exported="false" />
        <activity android:name=".pages.itgui.ItgUiExamplesActivity" android:exported="false" />
        <activity
            android:name=".pages.itgstring.ItgStringActivity"
            android:exported="false" />
        <activity
            android:name=".webcache.WebCacheDemoWebActivity"
            android:exported="false" />
        <activity
            android:name=".webcache.WebCacheDemoActivity"
            android:exported="false" />
        <activity android:name=".testfile.TestFileActivity" android:exported="false"/>
        <activity android:name=".concurrent.ConcurrentTestActivity" android:exported="false"/>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
